.room {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.field-container {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background-color: wheat;
}

.field {
  position: relative;
  width: 500px;
  height: 1000px;
  outline: 1px solid grey;
}

.game-details-container {
  width: 30%;
  height: 100vh;
  padding: 5px;
  background-color: burlywood;
}

.game-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players-list {
  list-style-type: none;
  padding: 0;
}
