.room {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.field-container {
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #666666;
}

.field {
  position: relative;
  width: 500px;
  height: 1000px;
  outline: 5px solid #999;
  background-color: black;
}

.game-details-container {
  width: 30%;
  height: 100vh;
  overflow: scroll;
  background-color: #333;
}

.game-details {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-game-button {
  background-color: #9901cc;
  border: 5px solid;
  border-left-color: #b804e6;
  border-top-color: #b804e6;
  border-right-color: #660099;
  border-bottom-color: #660099;
  color: #999;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
