.lobby-people {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobby-people-label {
  margin-bottom: 10px;
  font-size: 36px;
  color: #f9f9f9;
}

.lobby-people-list {
  width: 315px;
  height: 735px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobby-person-name {
  font-size: 30px;
}
