.room {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.field-container {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #666666;
}

.field {
  position: relative;
  width: 500px;
  height: 1000px;
  outline: 5px solid #f9f9f9;
  background-color: black;
}

.my-score {
  margin-top: 30px;
  font-size: 36px;
  color: #f9f9f9;
}

.game-details-container {
  width: 30%;
  height: 100vh;
  overflow: scroll;
  background-color: #333;
}

.game-details {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-game-button {
  background-color: #9901cc;
  border: 5px solid;
  border-left-color: #b804e6;
  border-top-color: #b804e6;
  border-right-color: #660099;
  border-bottom-color: #660099;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c00;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  padding: 15px;
  border: 5px solid white;
}
